[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydoctor = ">=25,<26"
nomadnet = ">=0.7,<0.8"
scapy = "*"
rns = { path = "/home/spearman/clients/beechat/Reticulum", editable = true }

[dev-packages]

[requires]
python_version = "3.13"
